.inputdiv{
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.radiodiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
}
.p{
    font-size: 12px;
}


.signin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    font-size: 1.25rem;
    margin-bottom: 3em;
}
.signin input[type="text"]{
    height: 26px;
    width: 54%;
    font-size: 1.25rem;
    text-align: initial;
    border: none;
    color: #4c4952;
}
.signedin{
    height: 150px;
}