.inv{
    position: absolute;
    color: #800000;
    background-color: #ffee58;
    font-weight: bold;
    width: 90%;
    max-width: 600px;
}
.signin{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    font-size: 1.25rem;
    margin-bottom: 3em;
}
.signin input[type="text"]{
    height: 26px;
    width: 60%;
    font-size: 1.25rem;
    padding-left: 1px;
    text-align: initial;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: #4c4952;
}
.signin input[type="text"]:not(:focus),
.signin input[type="text"]::placeholder,
.signin input[type="text"]::-webkit-input-placeholder{
    color: #f5f5f5bb;
}
.signin input[type="text"]:focus::placeholder,
.signin input[type="text"]:focus::-webkit-input-placeholder{
    color: #757575;
}
.signin input[type="text"] ~ .bg{
    position: absolute;
    left: 20%;
    top: 40.5%;
    height: 26px;
    width: 0;
    background-color: whitesmoke;
    transition: .3s;
    z-index: -1;
}
.signin input[type="text"]:focus ~ .bg{
    transition: .3s;
    width: 60%;
}