*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
}
body{
  background: url('../../assets/mob.jpg') no-repeat top/cover;
}
/* main{
  
} */
button{
  font-size: 1.25rem;
  color: #4c4952;
  height: 28px;
  width: 40%;
  cursor: pointer;
  border: none;
}
button:disabled{
  cursor: not-allowed;
  filter: contrast(0.25);
}
.div{
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.h1{
  font-size: 3rem;
  font-family: 'Architects Daughter', cursive;
  /* text-align: center; */
  margin: 44px 0 1.25em;
  -webkit-mask-image: url('../../assets/decaying.png');
  mask-image: url('../../assets/decaying.png');
  /* self-host google font effect mask image due to cors bug introduced with chrome 79 */
}
.score{
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  /* height: 126px; */
  /* width: 200%; */
}
.score button{
    position: absolute;
    z-index: 1;
    right: 10%;
    background: url('../../assets/finger.png') no-repeat center/contain;
    height: 33px;
    width: 64px;


}
.flipL{
  transform: rotateY(180deg);
  transition: transform 0.7s cubic-bezier(0.68,-0.02, 0.79, 0.75);
}
.flipR{
  transition: transform 0.7s cubic-bezier(0.68,-0.02, 0.79, 0.75);
}



.show{
  opacity: 1;
}
.hide{
  opacity: 0;
  transition: opacity 1s ease-in;
}


@media screen and (min-width: 414px){
  .h1{
    font-size: 3.5rem;
  }
}


@media screen and (min-width: 768px){
  body{
    background: url('../../assets/tab.jpg') no-repeat top/cover;
  }
}

@media screen and (min-width: 1440px){
  body{
    background: url('../../assets/big.jpg') no-repeat top/cover;
  }
}



/* 5 */
