*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}
body{
  background: url('../../assets/mobbg.jpg') no-repeat top/cover;
}




.show{
  opacity: 1;
}
.hide{
  opacity: 0;
  transition: opacity 1s ease-in;
}







/* 5 */
