.li{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 28px;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
}
.ul{
    background-color: rgba(255, 238, 88, .8);
    border: 2px solid #ffee58;
    padding: .75em;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}