.h2{
    margin-bottom: 1em;

}
.li{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin: 0 auto .5em; */
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    background-color: #260b0b;
}
.ul{
    /* margin-bottom: 2em; */
    border: 2px solid yellow;
    padding: 1em;
    width: 50%;
    margin: 0 auto 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}