.animDiv{
    animation: erase 3s cubic-bezier(.03,.74,.03,1) forwards 1;
}
.div{
    background-color: whitesmoke;
    position: relative;
    width: 330px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    font-family: 'Permanent Marker', cursive;
    color: #3b383f;
    font-size: 2.5em;
    padding: 0 24px;
}
rect{
    fill: transparent;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: change 35s linear forwards 1;
}
svg{
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes change {
    to {
        stroke-dashoffset: 1000;
    }
}
@keyframes erase {
    to {
        opacity: 0;
    }
}